.Button {
    cursor: pointer;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
}

.Button_PRIMARY {
    background-color: #e86256;
    border: none;
    color: white;
}

.Button_DELETE {
    background-color: #666;
    color: white;
}

.Button_SEARCH {
    background-color: #777;
    color: white;

    border: none;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}